@page "/Sinner/Outis"
@using LimbusIdentityApp.Clients
@using LimbusIdentityApp.Models
@inject IdentityClient IdentityClient
@rendermode InteractiveServer
@attribute [StreamRendering]

<PageTitle>Outis</PageTitle>
<div>
    <h1>Outis</h1>
    <a class="btn btn-primary me-2" role="button" href="/Sinner">
        <i class="bi bi-search">Sinners</i>
    </a>
    <div></div>
    <img class="" src="https://limbuscompany.wiki.gg/images/3/32/LCB_Sinner_Outis_Full.png" alt="Card image cap" style="width:320px; height:180px" />
</div>
@if (ids is null)
{
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
}
else
{
    <table class="table table-striped mt-3">
        <thead class="table-dark">
            <tr>
                <th>Image</th>
                <th>Id</th>
                <th>Name</th>
                <th>Sinner</th>
                <th>Health</th>
                <th>Ineffective</th>
                <th>Fatal</th>
                <th>Defense Level</th>
                <th>Min Speed</th>
                <th>Max Speed</th>
                <th>Passive Names</th>
                <th>Skill Names</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var id in ids)
            {
                <tr>
                    <td style="text-align: center; vertical-align: bottom; padding: 0; margin: 0;">
                        <img class="" src="@id.Image" alt="Card image cap" style="max-width: 30%; max-height: 30%;">
                    </td>
                    <td>@id.Id</td>
                    <td>@id.Name</td>
                    <td>@id.Sinner</td>
                    <td>@id.Health</td>
                    <td>@id.Ineffective</td>
                    <td>@id.Fatal</td>
                    <td>@id.DefenseLevel</td>
                    <td>@id.MinSpeed</td>
                    <td>@id.MaxSpeed</td>
                    <td>@string.Join(", ", id.PassivesName)</td>
                    <td>@string.Join(", ", id.SkillNames)</td>
                    <td>
                        <div>
                            <a class="btn btn-primary me-2" role="button" href="/identity/@id.Id">
                                <i class="bi bi-search">Details</i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IdentitySummary[]? ids;

    protected override async Task OnInitializedAsync()
    {
        ids = await IdentityClient.GetIdentitiesAsync(Filter: "Outis", PageNumber: 1, PageSize: 10);
    }
}