@page "/identities"
@using LimbusIdentityApp.Clients
@using LimbusIdentityApp.Models
@inject IdentityClient IdentityClient
@rendermode InteractiveServer
@attribute [StreamRendering]

<PageTitle>Identities</PageTitle>

<div class="mt-2 mb-3">
    <a class="btn btn-primary" role="button" href="/create/identity">Create</a>
</div>

@if (ids is null)
{
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
}
else
{
    <div class="row mb-4">
        <div class="col-sm-3">
            <input type="text" class="form-control" placeholder="Search Identities" @bind="searchString"
                   @bind:event="oninput" @onkeyup="OnSearchChangedAsync" />
        </div>
    </div>
    <table class="table table-striped table table-hover mt-3">
        <thead class="table-dark">
            <th>Image</th>
            <th>Id</th>
            <th>Name</th>
            <th>Sinner</th>
            <th>Health</th>
            <th>Ineffective</th>
            <th>Fatal</th>
            <th>Defense Level</th>
            <th>Min Speed</th>
            <th>Max Speed</th>
            <th>Passive Names</th>
            <th>Skill Names</th>
            <th>Details</th>
            <th>Edit</th>
        </thead>
        <tbody>
            @foreach(var id in ids)
            {
                string sinnerColor = id.Name switch
                {
                    var name when name.Contains("Zwei Association", StringComparison.OrdinalIgnoreCase) => "color:steelblue",
                    var name when name.Contains("Shi Association", StringComparison.OrdinalIgnoreCase) => "color:red",
                    var name when name.Contains("Cinq Association", StringComparison.OrdinalIgnoreCase) => "color:blue",
                    var name when name.Contains("Liu Association", StringComparison.OrdinalIgnoreCase) => "color:orange",
                    var name when name.Contains("Seven Association", StringComparison.OrdinalIgnoreCase) => "color:forestgreen",
                    var name when name.Contains("Devyat Association", StringComparison.OrdinalIgnoreCase) => "color:mediumseagreen",
                    var name when name.Contains("Dieci Association", StringComparison.OrdinalIgnoreCase) => "color:goldenrod",
                    var name when name.Contains("Oufi Association", StringComparison.OrdinalIgnoreCase) => "color:purple",
                    var name when name.Contains("K Corp", StringComparison.OrdinalIgnoreCase) => "color:mediumseagreen",
                    var name when name.Contains("LCCB", StringComparison.OrdinalIgnoreCase) => "color:lightslategrey",
                    var name when name.Contains("LCB Sinner", StringComparison.OrdinalIgnoreCase) => "color:lightslategrey",
                    var name when name.Contains("N Corp", StringComparison.OrdinalIgnoreCase) => "color:orange",
                    var name when name.Contains("G Corp", StringComparison.OrdinalIgnoreCase) => "color:saddlebrown",
                    var name when name.Contains("R Corp", StringComparison.OrdinalIgnoreCase) => "color:red",
                    var name when name.Contains("T Corp", StringComparison.OrdinalIgnoreCase) => "color:goldenrod",
                    var name when name.Contains("W Corp", StringComparison.OrdinalIgnoreCase) => "color:blue",
                    var name when name.Contains("Blade Lineage", StringComparison.OrdinalIgnoreCase) => "color:blue",
                    var name when name.Contains("Kurokumo", StringComparison.OrdinalIgnoreCase) => "color:red",
                    var name when name.Contains("Middle", StringComparison.OrdinalIgnoreCase) => "color:purple",
                    var name when name.Contains("Molar", StringComparison.OrdinalIgnoreCase) => "color:steelblue",
                    var name when name.Contains("Ring", StringComparison.OrdinalIgnoreCase) => "color:red",
                    var name when name.Contains("MultiCrack", StringComparison.OrdinalIgnoreCase) => "color:steelblue",
                    var name when name.Contains("Rosespanner", StringComparison.OrdinalIgnoreCase) => "color:deeppink",
                    var name when name.Contains("The Pequod", StringComparison.OrdinalIgnoreCase) => "color:forestgreen",
                    _ => "color:black"
                };

                if (id.Faction is not null)
                {
                    sinnerColor = id.Faction switch
                    {
                        var faction when faction.Contains("N Corp", StringComparison.OrdinalIgnoreCase) => "color:orange",
                        var faction when faction.Contains("L Corp", StringComparison.OrdinalIgnoreCase) => "color:lightslategrey",
                        var name when name.Contains("Ryoshu's Bistro", StringComparison.OrdinalIgnoreCase) => "color:red",
                        var name when name.Contains("Technology Liberation Alliance", StringComparison.OrdinalIgnoreCase) => "color:blue",
                        var name when name.Contains("Wuthering", StringComparison.OrdinalIgnoreCase) => "color:purple",
                        var name when name.Contains("Yurodivy", StringComparison.OrdinalIgnoreCase) => "color:goldenrod",
                        _ => sinnerColor
                    };
                }

                <tr>
                    <td style="text-align: center; vertical-align: bottom; padding: 0; margin: 0;">
                        <img class="" src="@id.Image" alt="Card image cap" style="width: 344px; height: 598px; object-fit:contain">
                    </td>
                    <td style="@sinnerColor">@id.Id</td>
                    <td style="@sinnerColor">@id.Name</td>
                    <td style="@sinnerColor">@id.Sinner</td>
                    <td>@id.Health</td>
                    <td style="color:black">@id.Ineffective</td>
                    <td style="color:red">@id.Fatal</td>
                    <td>@id.DefenseLevel</td>
                    <td>@id.MinSpeed</td>
                    <td>@id.MaxSpeed</td>
                    <td style="@sinnerColor">@string.Join(", ", id.PassivesName)</td>
                    <td style="@sinnerColor">@string.Join(", ", id.SkillNames)</td>
                    <td>
                        <div>
                            <a class="btn btn-primary me-2" role="button" href="/identity/@id.Id">
                                <i class="bi bi-search">Details</i>
                            </a>
                        </div>
                    </td>
                    <td>
                        <div>
                            <a class="btn btn-primary me-2" role="button" href="/edit/identity/@id.Id">
                                <i class="bi bi-search">Edit</i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button class="btn @GetButtonClass(page <= 1)" @onclick="SelectedPageDownAsync" disabled="@((page <= 1))">Previous Page</button>
    <button class="btn @GetButtonClass(ids?.Length < 10)" @onclick="SelectedPageUpAsync" disabled="@((ids?.Length < 10))">Next Page</button>
}

@code {
    private IdentitySummary[]? ids;

    protected override async Task OnInitializedAsync()
    {
        ids = await IdentityClient.GetIdentitiesAsync(PageNumber: 1, PageSize: 10);
    }

    private string GetButtonClass(bool isDisabled)
    {
        return isDisabled ? "btn-disabled" : "btn-primary";
    }

    int page = 1;
    private string? searchString;

    private async Task SelectedPageUpAsync()
    {
        int selectedPage = page + 1;
        page = selectedPage;
        ids = await IdentityClient.GetIdentitiesAsync(Filter: searchString, PageNumber: selectedPage, PageSize: 10);
    }

    private async Task SelectedPageDownAsync()
    {
        int selectedPage = page - 1;

        if (selectedPage < 1)
        {
            selectedPage = 1;
        }

        page = selectedPage;
        ids = await IdentityClient.GetIdentitiesAsync(Filter: searchString, PageNumber: selectedPage, PageSize: 10);
    }

    private async Task OnSearchChangedAsync()
    {
        page = 1;
        ids = await IdentityClient.GetIdentitiesAsync(Filter: searchString, PageNumber: 1, PageSize: 10);
    }
}
