@page "/identity"
@page "/identity/{Id:int}"
@using LimbusIdentityApp.Clients
@using LimbusIdentityApp.Models
@inject IdentityClient IDClient
@inject SkillClient SkillClient
@inject IJSRuntime JSRunTime
@rendermode InteractiveServer
@attribute [StreamRendering]
@inject NavigationManager NavigationManager

<PageTitle>@Title</PageTitle>

<div class="mt-2">
    <a class="btn btn-primary" role="button" href="/identities">Identities</a>
</div>

@if (identity is null)
{
    <div><em>Loading...</em></div>
}
else
{
    <table class="table table-striped mt-3">
        <thead class="table-dark">
            <tr>
                <th colspan="3">@identity.Name @identity.Sinner</th>
            </tr>
        </thead>

        <tbody>
        <tr>
        <td style="text-align: center; vertical-align: bottom; padding: 0; margin: 0;">
            <img class="" src="@identity.Image" alt="Card image cap" style="width: 344px; height: 598px; object-fit:contain">
        </td>
                <td style="text-align: center; vertical-align: middle; padding: 0; margin: 0;">
                <div class="mt-2">
                    <a class="btn btn-primary" role="button" href="@Faction">@FactionTitle</a>
                </div>
                </td>
                <td style="text-align: center; vertical-align: middle; padding: 0; margin: 0;">
                <div class="mt-2">
                    <a class="btn btn-primary" role="button" href="@SinnerPath">@identity.Sinner</a>
                </div>
                </td>
        </tr>
        </tbody>
    </table>

    <table class="table table-striped table table-hover mt-3">
        <thead class="table-dark">
        
        <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Sinner</th>
        <th>Health</th>
        <th>Ineffective</th>
        <th>Fatal</th>
        <th>DefenseLevel</th>
        <th>MinSpeed</th>
        <th>MaxSpeed</th>
        <th>Faction</th>
        <th>Passive Ids</th>
        <th>Skill Ids</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td style="@ColorMain">@identity.Id</td>
                <td style="@ColorMain">@identity.Name</td>
                <td style="@ColorMain">@identity.Sinner</td>
                <td>@identity.Health</td>
                <td style="color:black">@identity.Ineffective</td>
                <td style="color:red">@identity.Fatal</td>
                <td>@identity.DefenseLevel</td>
                <td>@identity.MinSpeed</td>
                <td>@identity.MaxSpeed</td>
                <td>@identity.Faction</td>
                <td>@string.Join(", ",identity.PassiveIds)</td>
                <td>@string.Join(", ", identity.SkillIds)</td>
            </tr>
        </tbody>
    </table>

    @for (var i = 0; i < identity.PassiveIds.Count(); i++)
    {
        string passiveColor = identity.PassiveCosts[i] switch
        {
            var name when name.Contains("Wrath", StringComparison.OrdinalIgnoreCase) => "color:red",
            var name when name.Contains("Lust", StringComparison.OrdinalIgnoreCase) => "color:orange",
            var name when name.Contains("Sloth", StringComparison.OrdinalIgnoreCase) => "color:goldenrod",
            var name when name.Contains("Gluttony", StringComparison.OrdinalIgnoreCase) => "color:forestgreen",
            var name when name.Contains("Pride", StringComparison.OrdinalIgnoreCase) => "color:blue",
            var name when name.Contains("Gloom", StringComparison.OrdinalIgnoreCase) => "color:steelblue",
            var name when name.Contains("Envy", StringComparison.OrdinalIgnoreCase) => "color:purple",
            _ => "color:silver"
        };

       <table class="table table-striped table table-hover mt-3">
           <thead class="table-dark">
               <tr>
               <th>Passive Id</th>
               <th>Passive Name</th>
               <th>Passive Cost</th>
               <th>Support</th>
               <th>Passive Description</th>
                </tr>
           </thead>
           <tbody>
               <tr>
                    <td style="@ColorMain">@identity.PassiveIds[i]</td>
                    <td>@identity.PassiveNames[i]</td>
                    <td style="@passiveColor">@identity.PassiveCosts[i]</td>
                    <td>@identity.PassiveSupport[i]</td>
                    <td>@identity.PassiveDescription[i]</td>
               </tr>
           </tbody>
        </table>
    }
   

 <div class="table-container">
    @foreach (var skill in Skills)
    {
            string skillColor = skill.Sin switch
            {
                var name when name.Contains("Wrath", StringComparison.OrdinalIgnoreCase) => "color:red",
                var name when name.Contains("Lust", StringComparison.OrdinalIgnoreCase) => "color:orange",
                var name when name.Contains("Sloth", StringComparison.OrdinalIgnoreCase) => "color:goldenrod",
                var name when name.Contains("Gluttony", StringComparison.OrdinalIgnoreCase) => "color:forestgreen",
                var name when name.Contains("Pride", StringComparison.OrdinalIgnoreCase) => "color:blue",
                var name when name.Contains("Gloom", StringComparison.OrdinalIgnoreCase) => "color:steelblue",
                var name when name.Contains("Envy", StringComparison.OrdinalIgnoreCase) => "color:purple",
                _ => "color:black"
            };

        <div class="table-wrapper">
        <table class="table table-striped table table-hover mt-4">
            <thead class="table-dark">
                <tr>
                    <th colspan="2">@skill.Name</th>
                </tr>
            </thead>

            <tbody>
                        <tr>
                            <td>Image</td>
                            <td style="text-align: center; vertical-align: bottom; padding: 0; margin: 0;">
                                <img class="" src="@skill.Image" alt="Card image cap">
                            </td>
                        </tr>
                        <tr>
                            <td>Skill Type</td>
                            <td>@skill.Type</td>
                        </tr>
                        <tr>
                            <td>Skill Sin</td>
                            <td style="@skillColor">@skill.Sin</td>
                        </tr>
                        <tr>
                            <td>Offense Level</td>
                            <td>@skill.OffenseLevel</td>
                        </tr>
                        <tr>
                            <td>@skill.MinRoll</td>
                            <td>@skill.MaxRoll</td>
                        </tr>
                        <tr>
                            <td>Skill Effect</td>
                            <td>@skill.SkillEffect</td>
                        </tr>

                        @for (int i = 0; i < skill.CoinEffects.Count(); i++)
                        {
                            <tr>
                                <td>Coin @(i + 1)</td>
                                <td>@skill.CoinEffects[i]</td>
                            </tr>
                        }
            </tbody>
        </table>
      </div>
    }
    </div>

    if(ids is not null)
    {
        <table class="table table-striped table table-hover mt-4">
            <thead class="table-dark">
                <tr>
                    <th>Name</th>
                    <th>Sinner</th>
                    <th>Link</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var identity in ids) 
                {
                    <tr>
                        <td>@identity.Name</td>
                        <td>@identity.Sinner</td>
                        <td><a class="btn btn-primary" role="button" href="/identity/@identity.Id">Page</a></td>
                    </tr>
                }
            </tbody>
        </table>
    }
    <button class="btn btn-danger" onclick="@DeleteButton">Delete</button>
}

@code {

    [Parameter]
    public int? Id { get; set; }

    private IdentitySummary[]? ids;

    public Models.IdentityDetails? identity { get; set; }

    public List<Models.SkillDetails> Skills { get; set; } = new List<Models.SkillDetails>();

    string Title = "Identity";

    string ColorMain = "color:black";

    string Faction = "/identities";

    string FactionTitle = "Unknown";
    string SinnerPath = "/Sinner";

    private async Task DeleteButton()
    {
        var confirmed = await JSRunTime.InvokeAsync<bool>("confirm", new object[] { "Are you sure you want to delete this identity?" });

        if (confirmed && Id is not null)
        {
            await IDClient.DeleteIdentityAsync(identity.Id);
            NavigationManager.NavigateTo("/identities");
        }
    }

    protected async override Task OnParametersSetAsync()
    {
        if(identity is not null)
        {
            return;
        }

        if (Id is not null)
        {
            try
            {
                identity = await IDClient.GetIdentityAsync(Id.Value);
            }
            catch (HttpRequestException ex) when (ex.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                NavigationManager.NavigateTo("/notfound");
            }
        foreach(var skillId in identity.SkillIds)
            {
                var skill = await SkillClient.GetSkillAsync(skillId);
                if(skill is not null)
                {
                    Skills.Add(skill);
                }
            }

            Title = string.Join(" ",identity.Name, identity.Sinner);

            ColorMain = identity.Name switch
            {
                var name when name.Contains("Zwei Association", StringComparison.OrdinalIgnoreCase) => "color:steelblue",
                var name when name.Contains("Shi Association", StringComparison.OrdinalIgnoreCase) => "color:red",
                var name when name.Contains("Cinq Association", StringComparison.OrdinalIgnoreCase) => "color:blue",
                var name when name.Contains("Liu Association", StringComparison.OrdinalIgnoreCase) => "color:orange",
                var name when name.Contains("Seven Association", StringComparison.OrdinalIgnoreCase) => "color:forestgreen",
                var name when name.Contains("Devyat Association", StringComparison.OrdinalIgnoreCase) => "color:mediumseagreen",
                var name when name.Contains("Dieci Association", StringComparison.OrdinalIgnoreCase) => "color:goldenrod",
                var name when name.Contains("Oufi Association", StringComparison.OrdinalIgnoreCase) => "color:purple",
                var name when name.Contains("K Corp", StringComparison.OrdinalIgnoreCase) => "color:mediumseagreen",
                var name when name.Contains("LCCB", StringComparison.OrdinalIgnoreCase) => "color:lightslategrey",
                var name when name.Contains("LCB Sinner", StringComparison.OrdinalIgnoreCase) => "color:lightslategrey",
                var name when name.Contains("N Corp", StringComparison.OrdinalIgnoreCase) => "color:orange",
                var name when name.Contains("G Corp", StringComparison.OrdinalIgnoreCase) => "color:saddlebrown",
                var name when name.Contains("R Corp", StringComparison.OrdinalIgnoreCase) => "color:red",
                var name when name.Contains("T Corp", StringComparison.OrdinalIgnoreCase) => "color:goldenrod",
                var name when name.Contains("W Corp", StringComparison.OrdinalIgnoreCase) => "color:blue",
                var name when name.Contains("Blade Lineage", StringComparison.OrdinalIgnoreCase) => "color:blue",
                var name when name.Contains("Kurokumo", StringComparison.OrdinalIgnoreCase) => "color:red",
                var name when name.Contains("Middle", StringComparison.OrdinalIgnoreCase) => "color:purple",
                var name when name.Contains("Molar", StringComparison.OrdinalIgnoreCase) => "color:steelblue",
                var name when name.Contains("Ring", StringComparison.OrdinalIgnoreCase) => "color:red",
                var name when name.Contains("MultiCrack", StringComparison.OrdinalIgnoreCase) => "color:steelblue",
                var name when name.Contains("Rosespanner", StringComparison.OrdinalIgnoreCase) => "color:deeppink",
                var name when name.Contains("The Pequod", StringComparison.OrdinalIgnoreCase) => "color:forestgreen",
                _ => ColorMain

            };

            if (identity.Faction is not null)
            {
                ColorMain = identity.Faction switch
                {
                    var faction when faction.Contains("N Corp", StringComparison.OrdinalIgnoreCase) => "color:orange",
                    var faction when faction.Contains("L Corp", StringComparison.OrdinalIgnoreCase) => "color:lightslategrey",
                    var name when name.Contains("Ryoshu's Bistro", StringComparison.OrdinalIgnoreCase) => "color:red",
                    var name when name.Contains("Technology Liberation Alliance", StringComparison.OrdinalIgnoreCase) => "color:blue",
                    var name when name.Contains("Wuthering", StringComparison.OrdinalIgnoreCase) => "color:purple",
                    var name when name.Contains("Yurodivy", StringComparison.OrdinalIgnoreCase) => "color:goldenrod",
                    _ => ColorMain
                };
            }

            ids = await IDClient.GetIdentitiesAsync(Filter: $"{identity.Faction}", PageNumber: 1, PageSize: 10);
            Faction = identity.Name switch
            {
                var name when name.Contains("Zwei Association", StringComparison.OrdinalIgnoreCase) => "/Association/Zwei",
                var name when name.Contains("Shi Association", StringComparison.OrdinalIgnoreCase) => "/Association/Shi",
                var name when name.Contains("Cinq Association", StringComparison.OrdinalIgnoreCase) => "/Association/Cinq",
                var name when name.Contains("Liu Association", StringComparison.OrdinalIgnoreCase) => "/Association/Liu",
                var name when name.Contains("Seven Association", StringComparison.OrdinalIgnoreCase) => "/Association/Seven",
                var name when name.Contains("Devyat Association", StringComparison.OrdinalIgnoreCase) => "/Association/Devyat",
                var name when name.Contains("Dieci Association", StringComparison.OrdinalIgnoreCase) => "/Association/Dieci",
                var name when name.Contains("Oufi Association", StringComparison.OrdinalIgnoreCase) => "/Association/Oufi",
                var name when name.Contains("K Corp", StringComparison.OrdinalIgnoreCase) => "/Wing/KCorp",    
                var name when name.Contains("LCCB", StringComparison.OrdinalIgnoreCase) => "/City/LimbusCompany",
                var name when name.Contains("LCB Sinner", StringComparison.OrdinalIgnoreCase) => "/City/LimbusCompany",
                var name when name.Contains("N Corp", StringComparison.OrdinalIgnoreCase) => "/Wing/NCorp",
                var name when name.Contains("G Corp", StringComparison.OrdinalIgnoreCase) => "/Wing/GCorp",
                var name when name.Contains("R Corp", StringComparison.OrdinalIgnoreCase) => "/Wing/RCorp",
                var name when name.Contains("T Corp", StringComparison.OrdinalIgnoreCase) => "/Wing/TCorp",
                var name when name.Contains("W Corp", StringComparison.OrdinalIgnoreCase) => "/Wing/WCorp",
                var name when name.Contains("Blade Lineage", StringComparison.OrdinalIgnoreCase) => "/City/BladeLineage",
                var name when name.Contains("Kurokumo", StringComparison.OrdinalIgnoreCase) => "/City/KurokumoClan",
                var name when name.Contains("Middle", StringComparison.OrdinalIgnoreCase) => "/City/Middle",
                var name when name.Contains("Molar", StringComparison.OrdinalIgnoreCase) => "/City/MolarOffice",
                var name when name.Contains("Ring", StringComparison.OrdinalIgnoreCase) => "/City/Ring",
                var name when name.Contains("MultiCrack", StringComparison.OrdinalIgnoreCase) => "/City/MultiCrack",
                var name when name.Contains("Rosespanner", StringComparison.OrdinalIgnoreCase) => "/City/Rosespanner",
                var name when name.Contains("The Pequod", StringComparison.OrdinalIgnoreCase) => "/City/Pequod",
                _ => "/identities"
            };

            if (identity.Faction is not null)
            {
                Faction = identity.Faction switch
                {
                    var faction when faction.Contains("N Corp", StringComparison.OrdinalIgnoreCase) => "/Wing/NCorp",
                    var name when name.Contains("L Corp", StringComparison.OrdinalIgnoreCase) => "/Wing/LobotomyCorporation",
                    var name when name.Contains("Ryoshu's Bistro", StringComparison.OrdinalIgnoreCase) => "/City/RB",
                    var name when name.Contains("Technology Liberation Alliance", StringComparison.OrdinalIgnoreCase) => "/City/TLA",
                    var name when name.Contains("Wuthering", StringComparison.OrdinalIgnoreCase) => "/City/Wuthering",
                    var name when name.Contains("Yurodivy", StringComparison.OrdinalIgnoreCase) => "/City/Yurodivy",
                    _ => Faction
                };
            }

            SinnerPath = identity.Sinner switch
            {
                var sinner when sinner.Contains("Yi Sang", StringComparison.OrdinalIgnoreCase) => "/Sinner/YiSang",
                var sinner when sinner.Contains("Faust", StringComparison.OrdinalIgnoreCase) => "/Sinner/Faust",
                var sinner when sinner.Contains("Don Quixote", StringComparison.OrdinalIgnoreCase) => "/Sinner/DonQuixote",
                var sinner when sinner.Contains("Ryoshu", StringComparison.OrdinalIgnoreCase) => "/Sinner/Ryoshu",
                var sinner when sinner.Contains("Meursault", StringComparison.OrdinalIgnoreCase) => "/Sinner/Meursault",
                var sinner when sinner.Contains("Hong Lu", StringComparison.OrdinalIgnoreCase) => "/Sinner/HongLu",
                var sinner when sinner.Contains("Heathcliff", StringComparison.OrdinalIgnoreCase) => "/Sinner/Heathcliff",
                var sinner when sinner.Contains("Ishmael", StringComparison.OrdinalIgnoreCase) => "/Sinner/Ishmael",
                var sinner when sinner.Contains("Rodion", StringComparison.OrdinalIgnoreCase) => "/Sinner/Rodion",
                var sinner when sinner.Contains("Sinclair", StringComparison.OrdinalIgnoreCase) => "/Sinner/Sinclair",
                var sinner when sinner.Contains("Outis", StringComparison.OrdinalIgnoreCase) => "/Sinner/Outis",
                var sinner when sinner.Contains("Gregor", StringComparison.OrdinalIgnoreCase) => "/Sinner/Gregor",
                _ => identity.Name
            };

            FactionTitle = identity.Name switch
            {
                var name when name.Contains("Zwei Association", StringComparison.OrdinalIgnoreCase) => "Zwei Association",
                var name when name.Contains("Shi Association", StringComparison.OrdinalIgnoreCase) => "Shi Association",
                var name when name.Contains("Cinq Association", StringComparison.OrdinalIgnoreCase) => "Cinq Association",
                var name when name.Contains("Liu Association", StringComparison.OrdinalIgnoreCase) => "Liu Association",
                var name when name.Contains("Seven Association", StringComparison.OrdinalIgnoreCase) => "Seven Association",
                var name when name.Contains("Devyat Association", StringComparison.OrdinalIgnoreCase) => "Devyat Association",
                var name when name.Contains("Dieci Association", StringComparison.OrdinalIgnoreCase) => "Dieci Association",
                var name when name.Contains("Oufi Association", StringComparison.OrdinalIgnoreCase) => "Oufi Association",
                var name when name.Contains("K Corp", StringComparison.OrdinalIgnoreCase) => "K Corp",
                var name when name.Contains("LCCB", StringComparison.OrdinalIgnoreCase) => "Limbus Company",
                var name when name.Contains("LCB Sinner", StringComparison.OrdinalIgnoreCase) => "Limbus Corporation",
                var name when name.Contains("N Corp", StringComparison.OrdinalIgnoreCase) => "N Corp",
                var name when name.Contains("G Corp", StringComparison.OrdinalIgnoreCase) => "G Corp",
                var name when name.Contains("R Corp", StringComparison.OrdinalIgnoreCase) => "R Corp",
                var name when name.Contains("T Corp", StringComparison.OrdinalIgnoreCase) => "T Corp",
                var name when name.Contains("W Corp", StringComparison.OrdinalIgnoreCase) => "W Corp",
                var name when name.Contains("Blade Lineage", StringComparison.OrdinalIgnoreCase) => "Blade Lineage",
                var name when name.Contains("Kurokumo", StringComparison.OrdinalIgnoreCase) => "Kurokumo",
                var name when name.Contains("Middle", StringComparison.OrdinalIgnoreCase) => "The Middle",
                var name when name.Contains("Molar Office", StringComparison.OrdinalIgnoreCase) => "Molar Office",
                var name when name.Contains("Molar Boatworks", StringComparison.OrdinalIgnoreCase) => "Molar Boatworks",
                var name when name.Contains("Ring", StringComparison.OrdinalIgnoreCase) => "The Ring",
                var name when name.Contains("MultiCrack", StringComparison.OrdinalIgnoreCase) => "MultiCrack Office",
                var name when name.Contains("Rosespanner", StringComparison.OrdinalIgnoreCase) => "Rosespanner Workshop",
                var name when name.Contains("The Pequod", StringComparison.OrdinalIgnoreCase) => "The Pequod",
                _ => identity.Name
            };
            if (identity.Faction is not null)
            {
                FactionTitle = identity.Faction switch
                {
                    var name when name.Contains("N Corp", StringComparison.OrdinalIgnoreCase) => "N Corp",
                    var name when name.Contains("L Corp", StringComparison.OrdinalIgnoreCase) => "Lobotomy Company",
                    var name when name.Contains("Ryoshu's Bistro", StringComparison.OrdinalIgnoreCase) => "Ryoshu's Bistro",
                    var name when name.Contains("Technology Liberation Alliance", StringComparison.OrdinalIgnoreCase) => "Technology Liberation Alliance",
                    var name when name.Contains("Wuthering", StringComparison.OrdinalIgnoreCase) => "Wuthering Heights",
                    var name when name.Contains("Yurodivy", StringComparison.OrdinalIgnoreCase) => "The Yurodivy",
                    _ => FactionTitle
                };
            }
        }
    }
}
