@page "/Association/Liu"
@using LimbusIdentityApp.Clients
@using LimbusIdentityApp.Models
@inject IdentityClient IdentityClient
@rendermode InteractiveServer
@attribute [StreamRendering]

<PageTitle>Liu Association</PageTitle>
<div style="background-color: orange; height: auto;">
<h1>Liu Association</h1>
    <div class="mt-2">
        <a class="btn btn-primary" role="button" href="/Association">Associations</a>
    </div>
<div></div>
    <img class="" src="https://limbuscompany.wiki.gg/images/3/31/Liu_Assoc._South_Section_6_Gregor_Full_Uptied.png" alt="Card image cap" style="width:320px; height:180px" />
    <img class="" src="https://limbuscompany.wiki.gg/images/2/28/Liu_Assoc._South_Section_6_Meursault_Full_Uptied.png" alt="Card image cap" style="width:320px; height:180px" />
    <img class="" src="https://limbuscompany.wiki.gg/images/2/2c/Liu_Assoc._South_Section_5_Hong_Lu_Full_Uptied.png" alt="Card image cap" style="width:320px; height:180px" />
    <img class="" src="https://limbuscompany.wiki.gg/images/5/56/Liu_Assoc._South_Section_4_Ry%C5%8Dsh%C5%AB_Full_Uptied.png" alt="Card image cap" style="width:320px; height:180px" />
<div></div>
    <img class="" src="https://limbuscompany.wiki.gg/images/6/68/Liu_Assoc._South_Section_4_Ishmael_Full_Uptied.png" alt="Card image cap" style="width:320px; height:180px" />
    <img class="" src="https://limbuscompany.wiki.gg/images/1/1c/Liu_Assoc._South_Section_4_Director_Rodion_Full_Uptied.png" alt="Card image cap" style="width:320px; height:180px" />
</div>
@if(ids is null)
{
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
}
else
{
    <table>
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Sinner</th>
                <th>Health</th>
                <th>Defense Level</th>
                <th>Min Speed</th>
                <th>Max Speed</th>
                <th>Passive Names</th>
                <th>Skill Names</th>
            </tr>
        </thead>
        <tbody>
            
                @foreach(var id in ids)
                {
                <tr>
                    <td style="text-align: center; vertical-align: bottom; padding: 0; margin: 0;">
                        <img class="" src="@id.Image" alt="Card image cap" style="max-width: 30%; max-height: 30%;">
                    </td>
                    <td>@id.Id</td>
                    <td>@id.Name</td>
                    <td>@id.Sinner</td>
                    <td>@id.Health</td>
                    <td>@id.DefenseLevel</td>
                    <td>@id.MinSpeed</td>
                    <td>@id.MaxSpeed</td>
                    <td>@string.Join(", ", id.PassivesName)</td>
                    <td>@string.Join(", ", id.SkillNames)</td>
                    <td>
                        <div>
                            <a class="btn btn-primary me-2" role="button" href="/identity/@id.Id">
                                <i class="bi bi-search">Details</i>
                            </a>
                        </div>
                    </td>
                </tr>
                }
        </tbody>
    </table>
}

@code {
    private IdentitySummary[]? ids;

    protected override async Task OnInitializedAsync()
    {
        ids = await IdentityClient.GetIdentitiesAsync(Filter: "Liu Association", PageNumber: 1, PageSize: 10);
    }
}
